@model SeleniumTestRunner.Models.ViewModels.TestBuilderViewModel
@using SeleniumTestRunner.Web.Helper
@{
    ViewBag.Title = "Home Page";
}
<link href="~/CustomFiles/loaderRing.css" rel="stylesheet" />
<script>

    var stepTypeList = ['Given', 'When', 'Then'];
    if (typeof (controllerData) == "undefined") {
        var controllerData = {};
    }

    controllerData.TestBuilderModel = {
        DefinedStepsList: @Html.Raw(new JsonSerializationProcessor().Serialize(Model.DefinedSteps)),
        SampleTest1StepsList: @Html.Raw(new JsonSerializationProcessor().Serialize(Model.SampleTest1Steps)),
        StepsList: [],
        SelectedStep: null,
        TestRunning: false,
        DidFail: null,
        DidPass:null,
        
    }
</script>

<body ng-app="myapp" ng-controller="ctrl">
<h4 style="text-align: center">Can you write a test that passes ??</h4>

<div style="text-align: center" >
    <select ng-model="SelectedStep" ng-options="x.StepTypeLabelFull for x in DefinedStepsList">

    </select>
    <input type="button" value="Add Step" ng-click="addStep()"/>
    <input type="button" value="Set Sample Test" ng-click="addSampleTest()"/>
    <input type="button" value="Run Feature" ng-click="RunTest()" />
    </div>
    

<div ng-show="TestRunning === false" psi-sortable="" ng-model="StepsList">
    <div ng-repeat="item in StepsList track by $index">
        <div ng-class="{pass: item.DidPass , fail: item.DidFail}" class="step">


            <div style="font-size: xx-large">{{item.StepTypeLabel}} {{item.StepLabel}}</div>

            <div style="margin-bottom: 5px; font-weight: bold">Parameters</div>

            <div style="margin-bottom: 5px" ng-repeat="t in item.StepParams ">
                {{t.ParamLabel}}:<input type="text" ng-model="t.ParamValue" />
            </div>

            <div ng-show="item.IsRunning === true" class="loadingRing"><div class="loader"></div></div>
            <div ng-show="item.DidPass === true"><img class="greentick" src="~/CustomFiles/img/gtick.png" /></div>
            <div ng-show="item.DidFail === true"><img class="redcross" src="~/CustomFiles/img/redcross1.png" /></div>
            <div ng-show="item.DidFail === true"> Test Response: {{item.FailMessage}}</div>

        </div>

    </div>
   
</div>
<hr>
<div style="text-align: center" ng-show="TestRunning === true" class="mainLoader"><div class="loader"></div> <span style="display: block">Running your test...</span></div>
<div style="display: -webkit-box; font-size: larger; text-align: center" ng-repeat="item in StepsList track by $index"> {{item.StepTypeLabelFull}} -> 
    
    <div style="background-color: yellow" ng-repeat="s in item.StepParams track by $index">
        {{s.ParamValue}}
    </div>

</div>
</body>