@{
    ViewBag.Title = "Home Page";
}

<script>

    var stepTypeList = ['Given', 'When', 'Then'];

</script>

<body ng-app="myapp" ng-controller="ctrl">
<h1>Scenario Builder</h1>

<input type="button" value="Add Step" ng-click="addStep()"/>

<div psi-sortable="" ng-model="list">
    <div ng-repeat="item in list track by $index"><div class="step">

    <select ng-model="item.stepType" ng-options="x for x in stepTypeList">   </select>
    <select ng-model="item.stepDetail" ng-options="x for x in stepDetailList">   </select>
            {{item.stepType}}

    <input type="text" ng-model="item.param" />


    

</div>
        
    </div>
</div>
<hr>
<div ng-repeat="item in list track by $index" > {{item}} </div>
</body>